@use './abstracts';

@use './base/normalize';

@use './components/navigation';
@use './components/skeleton';

@use './layouts/landing';
@use './layouts/about';
@use './layouts/projects';
@use './layouts/contact';
@use './layouts/null-path';

// TODO: Move to normalize
:root {
    /* Font */
    font-size: 16px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

    /* color vars */
    /* color fallbacks */
    --background-color: #262626;
    --text-color: #e6dbdb;
    --accent-color: #7bea5d;

    /* main theme (dark theme) */
    --background-color: hsl(110, 0%, 15%);
    --text-color: hsl(0, 17%, 88%);
    
    /* navigation border green, link active green */
    --accent-color: hsl(107, 77%, 64%);
    --nav-active: rgba(255,255,255,0.2);
    
    --top-spacing: 5vh;
    --bar-spacing: 0.25rem;
    --nav-width: 9rem;
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
body {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#root {
    height: 100vh;
}

.App {
    text-align: center;
    height: 100vh;
    display: flex;
    background-color: var(--background-color);

}

.App.light {
    /* main theme (light theme) */
    --background-color: hsl(0, 18%, 88%);
    --text-color: hsl(110, 0%, 15%);
    
    /* navigation border green, link active green */
    --accent-color: hsl(107, 77%, 25%);
    --nav-active: rgba(0,0,0,0.2);
    --gradient: linear-gradient(to right var(--accent-color),var(--text-color));
    
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */




/* ---------------------------------------------------------------------------------------------------- */
/* Main Content /////////////////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------------------------------------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    /* margin-left: 1rem; */
    flex-grow: 8;
    overflow-y: scroll;
    color: var(--text-color);
}

main::-webkit-scrollbar {
    width: var(--bar-spacing);
}

main::-webkit-scrollbar-track {
    background-color: var(--background-color);

}

main::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    /* border-radius: .5rem; */
}

main.centered {
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

.linkedin {
    color: blue
}

.gmail {
    color: red;
}

.github {
    background-color: black;
    color: var(--text-color);
}

.gitlab {
    background-color: orange;
    color: var(--background-color);
}

.debug {
    border: 5px solid black;
}

/* Prefers animation off */
@media (prefers-reduced-motion: reduce) {
    *, 
    ::before, 
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
      }
}