:root {
    /* Font */
    font-size: 16px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;

    /* fallback colors (if browser does not support hsla) */

    /* color vars */
    --main-color: hsla(222, 19%, 27%, 1);
    --secondary-color: hsla(0, 17%, 88%, 1);
    --tertiary-color: hsla(174, 79%, 43%, 1);
    --quaternary-color: #FFF;
    --quinary-color: #FFF;

    /* greens */
    --green1: rgb(15, 96, 43);
    --green2: rgb(11,214,78);
    --green3: rgb(122,234,91);
    --green4: rgb(181,242,93);
    --green5: rgb(220,248,189);
    --green6: rgb(92, 169, 71);

    /* not doing the waves atm... might come back to them though */
    /* --wave-fill-1: #0f602b;
    --wave-fill-2: #5ca847;
    --wave-fill-3: #b5f25d; */

    /* main theme (dark theme) */
    --background-color: hsl(110, 0%, 15%);
    --text-color: hsl(0, 17%, 88%);
    --inver-text-color: hsl(0, 0%, 0%);
    /* navigation border green, link active green */
    --accent-color: hsl(107, 77%, 64%);
    --gradient: linear-gradient(to right var(--accent-color),var(--text-color));
    
    --top-spacing: 5vh;
    --bar-spacing: 0.25rem;
    --nav-width: 9rem;
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
body {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
}

#root {
    height: 100vh;
}

.App {
    text-align: center;
    height: 100vh;
    display: flex;
}

.App.light {
    --background-color: hsla(110, 0%, 15%, 1);
    
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* Resets ///////////////////////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------------------------------------------------------------------------- */
a {
    text-decoration: none;
}

i {
    text-decoration: none;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* Skeleton styles //////////////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------------------------------------------------------------------------- */
.skele-bg {
    /* prevent background resizing */
    flex-shrink: 0; 
    animation: skele-load 1s linear infinite alternate;
}

.skele-card {
    cursor: default;
}

.skele-detail {
    width: 80%;
    margin-left: 1rem;
}

.skele-title {
    width: 30%;
    height: 2rem;
    border-radius: 0.125rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.skele-desc div {
    width: 95%;
    height: .7rem;
    margin-bottom: 0.3rem;
    border-radius: 0.125rem;
}

div.skele-desc div:last-child {
    width: 70%;
    margin-bottom: 0.8rem;
}

.skele-techs {
    width: 45%;
    height: .5rem;
    border-radius: 0.125rem;
}

@keyframes skele-load {
    0% {
        background-color: hsl(0, 0%, 50%);
    }

    100% {
        background-color: hsl(0, 0%, 70%);
    }
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* Navigation ///////////////////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------------------------------------------------------------------------- */
.sidebar {
    display: flex;
    z-index: 5;
    width: 0;
    transform: translateX(calc(var(--nav-width) * -1));
    transition: transform 400ms;
}

.sidebar.active {
    width: auto;
    transform: translateX(0);
}

.navigation {
    /* overrides */
    --background-color: hsla(110, 0%, 20%, 1);

    /* styles */
    display: flex;
    width: var(--nav-width);
    flex-direction: column;
    font-size: xx-large;
    background-color: var(--background-color);
    border-right: var(--bar-spacing) solid var(--green3);

}

.nav-title {
    margin-top: var(--top-spacing);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--green3);
}

.nav-button {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--secondary-color);
    
    /* background-color: black; */
}

.nav-button:hover {
    background-color: black;
}

.nav-button.active {
    --background-color: hsla(110, 0%, 30%, 1);

    color: var(--green3);
    background-color: var(--background-color);
}

.nav-aside {
    margin-top: var(--top-spacing);

}

.nav-tag {
    border: 0px;
    border-radius: 0 5px 5px 0;
    background-color: var(--green3);
}

.nav-tag:hover {
    /* TODO: change color */
    color: maroon;
    background-color: black;
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* Main Content /////////////////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------------------------------------------------------------------------- */
main {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    flex-grow: 8;
    overflow-y: scroll;
    color: var(--text-color);
}

main::-webkit-scrollbar {
    width: var(--bar-spacing);
}

main::-webkit-scrollbar-track {
    /* TODO: change to main background color */
    background-color: var(--background-color);

}

main::-webkit-scrollbar-thumb {
    /* TODO: Change to secondary color */
    background-color: var(--accent-color);
    /* border-radius: .5rem; */
}

main.centered {
    justify-content: center;
    align-items: center;
    margin-bottom: 1.15rem;
}

/* ---------------------------------------------------------------------------------------------------- */
/* Main:Landing Page ////////////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------------------------------------------------------------------------- */
.landing {
    font-size: 3rem;
    margin-right: 0.9rem;
    /* -webkit-text-fill-color: white;
    -webkit-text-stroke: 5px black; */
}

/* .main-title {
    
}

.sub-title {
    
} */

.instructions {
    /* appears third (along with instructions) */
    --order: 3;
    font-size: 1rem;
}

.mobile-instructions {
    display: none;
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* Main:About Page //////////////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------------------------------------------------------------------------- */
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1.5rem;
}

.profile-pic {
    width: 380px;
    height: 380px;
    border-radius: 100%;
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* Main:Project Page ////////////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------------------------------------------------------------------------- */
.filter-bar {
    display: flex;
    justify-content: left;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.card-list {
    margin-right: 1.5rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    margin-bottom: 10px;
    text-align: left;
    z-index: 1;
    background-color: black;
    cursor: pointer;
    transition: transform 200ms;
}

.card:hover {
    transform: scale(1.01);
}

.card-img {
    margin: 0.3rem;
    height: 125px;
    width: 200px;
}

.card-detail {
    width: 75%;
    margin-left: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-overflow: clip;
}

.card-detail * {
    margin: 0;
}

.tech-list {
    font-size: 0.7rem;
}

.demo-video {
    width: 60vw;
    height: auto;
    justify-self: center;
}

.no-video {
    /* 789.8w x 402h */
    display: inline-block;
    align-self: center;
    width: 60vw;
    /* width: 920px; */
    height: 400px;
    border: 1px solid black;
}

.links {
    padding: 1rem;
    
}

.main-link {
    color: var(--secondary-color);
}

.main-link:hover {
    color: var(--tertiary-color);
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* Main:Link Page ///////////////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------------------------------------------------------------------------- */
.vis-link {
    /* Todo: change colors */
    background-color: slategrey;
    border: 5px solid brown;
    border-radius: 5rem;
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* Mobile Styles ////////////////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* Other... /////////////////////////////////////////////////////////////////////////////////////////// */
/* ---------------------------------------------------------------------------------------------------- */
.debug {
    border: 5px solid black;
}
/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */